@forward './hero';
@forward './thumbnail';
@forward '../groups/';


@use '../abstracts/index.scss' as *;



.sectionHeroSimple{
    padding-top: 150px;
}
.sectionProjectGrid{
    &__lists{
        display: flex;
        flex-direction: column;
        @include spacer(9, gap);
    }
}
.sectionThumbnailArticle{
    &-fullscreen{
        .sectionThumbnailArticle{
            &__media{
                width: 100%;
                height: 100dvh;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    &-large{
        .sectionThumbnailArticle{
            &__media{
                width: 100%;
                height: calc(100dvh - 150px - 75px);
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    img{
        width: 100%;
        height: auto;
    }
}
.sectionProjectArticleLists{
    &-vertical{
        .sectionProjectArticleLists__list{
            display: flex;
            @include spacer(4, gap);
        }
    }
}
.sectionHeroArticle{
    padding-top: calc(150px * 1.5);
    padding-bottom: calc(100px);
    // padding-bottom: 60px;
}
.sectionThumbnailArticle{
    padding-top: 60px;
    padding-bottom: 60px;
    &__media{
        img{
            border-radius: 20px;
        }
    }
}
.sectionDescriptionArticle{
    padding-top: 60px;
    padding-bottom: 60px;
    &__description{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        @include spacer(4, gap);

        & > *{
            margin: 0 auto;
        }
    }
}
.sectionProjectArticleLists{
    padding-top: 60px;
    padding-bottom: 60px;
    &__list{
        display: grid;
        grid-template-columns: 1fr;
        @include spacer(9, gap);
    }

}

.groupHeadingSection{
    display: flex;
    flex-direction: column;
    @include spacer(2, gap);
}
.groupProjectGrid{
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    position: relative;
    &__list{
        // grid-column: var(--c) / span var(--cs);
        // grid-row: var(--r) / span var(--rs);
        grid-column: var(--c) / span var(--s);
        // grid-row: var(--r);
    }
}
.groupHeadingArticle{
    &-center{
        text-align: center;
    }
}
.groupHeadingArticle{
    display: flex;
    flex-direction: column;
    @include spacer(8, gap);
}
.groupCategory{
    display: inline-flex;
    align-items: center;
    width: auto;
    @include spacer(6, gap);
    @include spacer(4, margin-bottom);
    &__list{
        position: relative;
        display: flex;
        align-items: center;
        &:not(:last-child){
            &::after{
                content: "";
                position: relative;
                width: 3px;
                height: 3px;
                background-color: red;
                @include spacer(6, margin-left);
            }
        }
    }
}

.groupShare{
    &__lists{
        display: inline-flex;
        @include spacer(4, gap);
    }
}


.cardDefaultCard{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    @include spacer(2, gap);
    &__media{
        flex: 1 1 auto;
        width: 100%;
        height: 100%;
        aspect-ratio: var(--r);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    &__heading{
        flex: 0 0 auto;
        height: auto;
    }
}
.componentTypographyTitle{
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
    line-height: .9;
    @include font-size($h1-font-display);
}
.componentTypographyDescription{
    @include font-size($h5-font-size);
    &-large{
        line-height: 1.7;
        font-weight: $font-weight-medium;
        @include font-size($h3-font-size);
    }
    &-small{
        line-height: 2;
        @include font-size($h6-font-size);
    }
}
.componentTypographyCardTitle{
    font-weight: $font-weight-medium;
    @include font-size($h4-font-size);
}
.componetButtonBack{
    font-weight: $font-weight-medium;
    @include font-size($h6-font-size);
}
.componentTypographyInfo{
    @include font-size($font-size-sm);
    font-weight: $font-weight-medium;
    letter-spacing: 1px;
}
.componentSosmed{
    background-color: #000;
    color: #FFF;
    display: inline-block;
    border-radius: 14px;
    font-weight: $font-weight-bold;

    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include font-size($font-size-sm);
}


.single-horizontal{
    display: flex;
    & > section{
        min-width: 100vw;
    }
}



// Special
.sectionSpecialSingleHorizontal{
    height: 100dvh;
    overflow-y: hidden;
    &__main{
        display: inline-flex;
        flex-wrap: nowrap;
        height: 100vh;
        overflow: auto;
        overflow-y: hidden;
        & > *{
            flex: 1 1 auto;
        }
    }
    &__heading{
        padding-top: 150px;
        min-width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-left: calc($grid-gutter-width * .5);
        padding-bottom: calc($grid-gutter-width * .5);
    }
    &__thumbnail{
        display: block;
        min-width: 100vw;
    }
    &__description{
        display: flex;
        width: 50vw;
        align-items: center;
    }
    &__contents{
        display: flex;
        align-items: center;
        width: max-content;
        @include spacer(9, padding-left);
        @include spacer(9, padding-right);
        @include spacer(9, gap);
        &-content{
            display: block;
            flex: 1 1 auto;
            img{
                width: 100%;
                height: 100%;
                max-width: 80vw;
                max-height: 70vh;
            }
        }
    }
    &__credit{
        width: max-content;
        max-width: 80vw;
        display: flex;
        align-items: center;
        @include spacer(9, padding-right);
    }
}

.groupCredit{
    &__lists{
        display: flex;
        flex-direction: column;
        @include spacer(4, gap);
    }
}