//- Main mixins index file
//- This file imports all mixins for easy inclusion in pages

//- Import Components
include components/index


//- Import Groups
include groups/index

//- //- Import Groups
//- include groups/index

//- Import Sections
include sections/index

//- //- Any standalone mixins can be defined here
//- //- ---------------------------------------------

//- //- Utility mixin for conditional classes
//- mixin classIf(condition, className)
//-   if condition
//-     - attributes.class = attributes.class ? attributes.class + ' ' + className : className