extends ../layouts/default

block main-content

    .single-page
        section.sectionThumbnailArticle-large(class="padding-firstSection")
            .container
                .sectionThumbnailArticle__media     
                    img(src=require(`../../assets/images/project/image-08.jpg`))
        section.sectionHeroArticle
            .container-basic
                .sectionHeroArticle__caption
                    .sectionHeroArticle__heading
                        //- +groupHeadingSection()
                        .groupHeadingArticle
                            .groupHeadingArticle__action
                                //- 
                                .componetButtonBack 
                                    | Back To Works
                            .groupHeadingArticle__title
                                //- +componentTypographyTitle()
                                .componentTypographyTitle
                                    | Jules Journey - Audrey
        section.sectionDescriptionArticle
            .container-basic
                .sectionDescriptionArticle__description 
                    .groupCategory
                        .groupCategory__list
                            .componentTypographyInfo
                                | Communication Design
                        .groupCategory__list
                            .componentTypographyInfo
                                | Branding
                        .groupCategory__list
                            .componentTypographyInfo
                                | Product Design
                        .groupCategory__list
                            .componentTypographyInfo
                                | Websites

                    .componentTypographyDescription-large
                        | In this final section, witness the tangible impact of isometric infographics on audience engagement, brand recall, and the overall success of your rebranding endeavor.
                    .componentTypographyDescription-small
                        | As your brand embraces a fresh aesthetic with isometric infographics, explore the roadmap ahead. Peek into upcoming campaigns, initiatives, and the strategic role isometric design plays in propelling your brand towards future success. Redefine your visual identity and storytelling capabilities with isometric infographics, as we navigate the exciting possibilities that lie on the horizon of your rebranded look.

                    .groupShare 
                        .groupShare__lists
                            .groupShare__lists-list
                                .componentSosmed
                                    | Fb.
                            .groupShare__lists-list
                                .componentSosmed
                                    | Tw.
                            .groupShare__lists-list
                                .componentSosmed
                                    | Ig.
                            .groupShare__lists-list
                                .componentSosmed
                                    | X.
                            .groupShare__lists-list
                                .componentSosmed
                                    | Db.

block footer 
    p Footer SIngle