extends ../layouts/default

block main-content


        section.sectionThumbnailArticle-fullscreen
            .sectionThumbnailArticle__media
                img(src=require(`../../assets/images/basic.jpg`))
        section.sectionHeroArticle 
            .container-basic
                .sectionHeroArticle__caption
                    .sectionHeroArticle__heading
                        //- +groupHeadingSection()
                        .groupHeadingArticle-center
                            .groupHeadingArticle__title
                                //- +componentTypographyTitle()
                                .componentTypographyTitle
                                    | Jules Journey - Audrey
                            .groupHeadingArticle__description
                                .componentTypographyDescription
                                    | Advertisement
        section.sectionProjectArticleLists-vertical
            .sectionProjectArticleLists__list
                each val in [1, 2, 3, 4, 5]
                    .cardDefaultCard(style="--r: 2/3")
                        .cardDefaultCard__media
                            img(src=require(`../../assets/images/basic.jpg`))
        section.sectionInfosArticle
            .container-basic
                .sectionInfosArticle__lists

        section.sectionDescriptionArticle
            .container-basic
                .sectionDescriptionArticle__description 
                    .componentTypographyDescription-large
                        | In this final section, witness the tangible impact of isometric infographics on audience engagement, brand recall, and the overall success of your rebranding endeavor. Real-world examples showcase the versatility of isometric design, offering a glimpse into its transformative power in different marketing contexts.
                    .componentTypographyDescription-small
                        | As your brand embraces a fresh aesthetic with isometric infographics, explore the roadmap ahead. Peek into upcoming campaigns, initiatives, and the strategic role isometric design plays in propelling your brand towards future success. Redefine your visual identity and storytelling capabilities with isometric infographics, as we navigate the exciting possibilities that lie on the horizon of your rebranded look.

        section.sectionProjectArticleLists
            .container-article
                .sectionProjectArticleLists__list
                    each val in [1, 2, 3, 4, 5]
                        .cardDefaultCard
                            .cardDefaultCard__media 
                                img(src=require(`../../assets/images/basic.jpg`))
        section.sectionDescriptionArticle
            .container-basic
                .sectionDescriptionArticle__description 
                    .componentTypographyDescription-large
                        | Embark on a visual transformation journey as we integrate captivating isometric infographics into the fabric of your rebranding initiative. 
                    .componentTypographyDescription
                        | This section unfolds the strategic significance and creative impact of isometric design, inviting you to reimagine and rediscover the essence of your brand's aesthetic identity.
                    .componentTypographyDescription
                        | Currently living & working in Poland. Senior Product Designer at Giant Eagle. Framer Developer, Expert & Partner. My work is focused on creating bespoke, effective & engaging digital experiences with meticulous attention to detail.




block footer 
    p Footer SIngle