@font-face {
    font-family: 'Acumin Pro ExtraCondensed';
    src: url('AcuminProExtraCond-Regular.woff2') format('woff2'),
        url('AcuminProExtraCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

