mixin headingHeroSimple
    .headingHeroSimple 
        .headingHeroSimple__heading 
            .headingHeroSimple__heading-subtitle 
                | Studio Nuts®
            .headingHeroSimple__heading-title 
                | Thinking boldly.
                br.destroy
                | Crafting visually.
            .headingHeroSimple__heading-description 
                | Not just makers. Campaign creators. Visual disruptors.
            .headingHeroSimple__heading-action
                | Explore All Work


mixin headingHeroBig
    .headingHeroBig 
        .headingHeroBig__heading 
            .headingHeroBig__heading-title 
                | Cornelia Curtis - Padilla
            //- .headingHeroBig__heading-description 
            //-     | Not just makers. Campaign creators. Visual disruptors.