mixin navigation()
    nav.menuSimple
        ul
            li 
                a.ajaxLink(href="./index.html" class="ajaxLink")
                    | Home
            li 
                a.ajaxLink(href="./single.html" class="ajaxLink")
                    | Studio
            li 
                a(href="./single.html")
                    | Studiossss
            li 
                a.ajaxLink(href="./work.html" class="ajaxLink")
                    | Works