@use '../abstracts/variables' as vars;
@use "../abstracts/mixins" as breakpoint;
@use '../abstracts/mixins' as space;


.projectListHorizontal{
    &__lists{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &-list{
            position: relative;
            width: 220px;
            height: auto;
            overflow: hidden;
            flex: 0 0 auto;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    @include breakpoint.media-breakpoint(md) {
        &__lists{
            flex-direction: column;
            &-list{
                width: 100%;
                @include space.spacer(4, margin-bottom);
            }
        }
    }
}